A:active    {color: #FF0000;}  
A:link      {text-decoration:none;}
A:visited   {text-decoration:none; color: blue;}
A:vlink     {text-decoration:none; color: blue;}
A:hover     {color: red;}
BODY	    {bgcolor="#FFFFFF"; font-size: normal; margin: 1em 3em;}
LI          {text-align: justify; margin-bottom: 0.9em;}
P           {text-align: justify;}
TABLE	    {font-size: normal;}

ADDRESS, B, BODY, DIV, EM, H1, H2, H3, H4, I, LI, OL, P, STRONG, TD, TR, UL
{font-family: sans-serif;}
